:root {
    --clr-primary: hsl(0, 0%, 0%);
    --clr-secondary: hsl(0, 0%, 100%);
    --clr-accent-primary: hsl(231, 100%, 71%);
    --clr-accent-secondary: hsl(14, 100%, 78%);

    --pd-dynamic: 1.875rem;

    --debug-border: 1px solid green;
}

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
a,
ul,
li,
input,
body,
p,
:before,
:after {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
}

header {
    position: fixed;
    top: 0;

    width: 100%;
    padding-block: var(--pd-dynamic);

    display: flex;
    margin-inline: auto;

    align-items: center;

    

    background-color: var(--clr-primary);
}

/* reusables */

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--clr-secondary);
}

nav {
    position: relative;

    display: flex;
    justify-content: space-between; 

    width: 80%;
    margin-inline: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 1vw;
    
    width: 100%;
    
    list-style: none;
}

.nav-link {

    padding: 10px 20px;

    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: 0.8px;
    text-decoration: none;
    text-transform: uppercase;

    color: var(--clr-secondary);
}

.nav-link::before {
    content: "[";
    position: absolute;
    top: 20%;
    left: 0%;
    color: var(--clr-secondary);

    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.nav-link::after {
    content: "]";
    position: absolute;
    top: 20%;
    right: 0%;
    color: var(--clr-secondary);

    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.nav-link:hover::before, .nav-link:hover::after {
    opacity: 1;
}

.desktop-nav {
    display: none;
}

.ham-menu {
    width: 20px;
    height: 20px;
}

.ham-menu .check {
    width: 20px;
    height: 20px;

    opacity: 0;
}

.ham-menu .check:hover {
    cursor: pointer;
}

.ham-menu .check:checked ~ .ham-menu-items {
    opacity: 0;
}

.ham-menu-burger {
    width: 20px;
    height: 20px;

    position: absolute;
    top: 3px;
    right: -2px;

    display: flex;
    flex-direction: column;
    gap: 3px;


    z-index: -1;
}

.ham-menu-list {
    list-style: none;
}

.ham-menu-items {
    display: none;

    position: absolute;
    top: 5rem;
    left: -40px;

    width: 300px;
    height: 300px;

    background-color: black;

    transition: all 150ms;
}

.line {
    width: 75%;
    height: 2px;
    background-color: var(--clr-secondary);
}

/* main */

h2 {
    font-size: calc(28px + 44*(100vw - 320px)/2180);
    font-weight: 400;
    letter-spacing: -0.04em;
    word-spacing: 0.02em;
    line-height: 1.17;
    padding-bottom: 1em;
}

h3 {
    letter-spacing: .1px;
    line-height: 1.5;
    word-spacing: 0.4px;
    padding-bottom: 1em;
}

section img {
    width: 100%;
}

.container {
    margin-inline: auto;
    padding-top: calc(55px + 65*(100vw - 320px)/ 2180);
}

.img-container {
    padding-bottom: 1em;
}

.text-container {
    padding-block: 1em;
}

.img-container,
.text-container {
    width: 85%;
    margin-inline: auto;
}

.play {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid transparent;
    border-left: 20px solid white;
}

.video-container {
    display: flex;
    justify-content: center;
}

.intro-heading {
    margin-top: 20px;

    font-size: calc(28px + 68*(100vw - 320px)/ 2180);
    font-weight: 400;
    line-height: 1.17;
    word-spacing: 0.02em;
}

.container p {
    font-size: calc(19px + 13*(100vw - 320px)/2180);
    line-height: 1.5;
    word-spacing: 0.4px;
}

.btn {
    text-decoration: none;
    font-size: .875rem;
    word-spacing: 5px;
    color: var(--clr-primary);

    display: inline-block;
    margin-block: 2.5em;
    padding: 1em 2em;

    border-radius: 25px;
    background-color: var(--clr-secondary);
}


